---
layout: single
title: '24 Hours in Shenandoah: Knob Mountain'
date: 2010-8-01 18:00 -04:00
tags: shenandoah, on-the-trail
---
<div class="articleBody clearfix">
	 <p>I managed to get out for a quick loop hike in Shenandoah last weekend, 24 hours quick to be exact. To me, 24 hours seems to be almost the perfect length of time to be able to enjoy an easy bit of backpacking. I can head out early on a Saturday hike all day, find a nice place to spend the night, hike out in the morning, and still have time Sunday to run errands and get ready for the upcoming week. This weekend I was out on Knob mountain.</p>
	 <%= image_tag '/images/posts/knob.jpg' %>
	 <p>The trailhead starts at about the 24 mile mark on SkyLine Drive at the bottom of the Elk Wallow picnic grounds. Pick up the Appalachian Trail (38.74109 -78.31198) and start heading south. After about half a mile you connect with Jeremy’s Run Trail (38.74295 -78.31369). The AT breaks off to the left but you’ll want to stay straight and continue heading NW towards Jeremy’s Run. It’s a nice easy walk descending into the wilderness area, the trail is broad and really well maintained here with nice views into the valley to the east. I spotted a couple deer here and the trail was full of evidence of their passing.</p>
	 READMORE
	 <p>Eventually you’ll come to a three way junction (38.74857 -78.32070) Jeremy’s Run Trail continues to the SW and a cutoff trail to Knob Mountain heads NW. This being a loop hike there’s really two ways you can go at this point. Option one is to take Jeremy’s Run down and come back over Knob Mountain. Option two would be the reverse, taking the cutoff trail up the mountain and then coming back on Jeremy’s Run. Having gone both ways myself I can tell you that the ascent from the east is far easier, plus there’s a string of nice campsites at the bottom end of Jeremy’s Run in case you want to spend a night out in the open.</p>
	 <%= image_tag '/images/posts/knobrun.jpg' %>
	 <p>Moving out on the cutoff trail brings you quickly to the first of many water crossings you’ll have to make during the loop. I was here before in early Spring and the stream at that point was high and swift. If you’re willing to get wet then fording across is not a problem. If you’re planning on keeping your feet dry by rock hoping your way across though, you may have to bushwhack a bit until you find a suitable spot to cross. By late July the run had shrunken dramatically and moving across was trivial.</p>
	 <p>Once across, the cutoff trail climbs up over a number of switchbacks and becomes pretty steep in places. After passing through the remnants of an old stone wall, you’ll connect with Knob Mountain Trail proper (38.75302 -78.32458). Head SW on Knob Mountain trail and enjoy a nice easy ascent of about 4 miles to the summit.</p>
	 <%= image_tag '/images/posts/knobwall.jpg' %>
	 <p>I noticed lots of Bear scat on this part of the trail and even eventually met up with the culprit himself on the other side of the hill. Luckily though all it took was a quick yell and a shake of my trekking poles to get him flying away through the brush. This was the first time I ever had to stare down a Bear on the trail and even though everything I had read told me that they would be far more scared of me than I was of them I was never the less happily surprised when this turned out to be true.</p>
	 <%= image_tag '/images/posts/knobneighbor.jpg' %>
	 <p>Unfortunately, the summit (38.7291 -78.34884) is pretty closed in but if you continue down a bit on the other side it really opens up and you’re rewarded with some nice views of the valley and Neighbor Mountain to the South. This is a great place for a break and a late lunch.</p>
	 <p>The rest of the trek down to Jeremy’s Run consists of sharp switchbacks and descends 1900ft in about a mile and a half. Once at the bottom you’ll merge with Jeremy’s Run Trail (38.71197 -78.37081) on the right, head NE on the trail back towards the AT. If you’ve been keeping a brisk pace up to this point you may have time to finish up the last 4 miles or so of Jeremy’s Run, connect to the AT and then be back at your car before sun down. If on the other hand you’re looking for a place to spend the night before hiking out in the morning you’ll find a string of nice spots about a mile or so (38.71109 -78.36291) further down the trail.</p>
	 <%= image_tag '/images/posts/knobtent.jpg' %>
	 <p>I myself wasn’t quite ready to turn in yet so I broke for a nice dinner and then continued on for another 2.5 miles or so where I found a nice spot just this side (38.74893 -78.32432) of the cutoff trail. I really prefer to hike until I can’t hike anymore, setup a stealth camp and then go right to sleep. Fires are not allowed in Shenandoah and eating in camp is a bad idea with bear around so really the only thing left to do is sleep. In Shenandoah backpacking is a lot more about the hiking than it is about the camping.</p>
	 <%= image_tag '/images/posts/knobbreakfast.jpg' %>
	 <p>In the morning I was able to get up early, have perhaps the best bowl oatmeal I’ve ever had, and then quickly cover the last bit of Jeremy’s Run back up to the AT and then to my car. The perfect 24 hour loop hike. I really like Shenandoah for these kinds of quick trips, I’m lucky to be living so close. Even though it’s pretty narrow East to West it’s got a wealth of trails so there’s lots of opportunities for configuring your own quick loops. I plan on walking a lot more of these before winter gets here.</p>
</div>


